.feature {
  height: 100%;
  border: 3px solid $white-offset;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}
.feature:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  border:  3px dashed $primary
}